@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.categories,
.categories *,
.book-display,
.book-display * {
  font-family: 'Poppins', sans-serif;
}

/* Categories */
.categories {
  text-align: center;
  padding: 20px;
}

.categories h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.category-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 40px;
}

.category-buttons button {
  margin: 10px;
  padding: 20px 40px;
  background-color: black;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 30px;
}

.category-buttons button:hover {
  background-color: #c7c7c7;
}

.category-buttons button.active {
  background-color: grey;
  color: white;
}

/* Book Display */
.book-display {
  text-align: center;
  padding: 20px;
}

.book-display h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  margin-top: 50px;
}

.books-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 20px;
  height: auto;
}

.book {
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.book:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.book img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.book-title {
  font-weight: bold;
  margin: 10px 0;
  font-size: 1rem;
}

.book-author {
  color: #555;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.book-actions {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: auto;
  padding-top: 10px;
}

.like-button,
.save-button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 5px;
  transition: color 0.3s ease;
}

.like-button.liked {
  color: black;
}

.like-button svg {
  transition: color 0.2s;
}



.save-button svg {
  transition: color 0.2s;
}

.save-button:hover,
.like-button:hover {
  color: #777;
}

/* Responsive Design */
@media (max-width: 768px) {
  .books-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .category-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .books-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .category-buttons {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }

  .category-buttons button {
    padding: 10px;
    font-size: 0.9rem;
    border-width: 1.5px;
  }
}