.Footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: black;
  color: white;
  font-family: 'Poppins', sans-serif;


}

.Footer-content {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  gap: 30px;
  font-size: 1rem;
}

/* Default Desktop: Keep text and icon in a row */
.Footer-socials {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
  /* Space between text and icon */
}

.social-icon {
  font-size: 50px;
  color: white;
  cursor: pointer;
}

.social-icon:hover {
  color: #ccc;
}