@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.HeaderThree {
  display: flex;
  justify-content: center; 
  align-items: center; 
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../assets/images/bookshelf.jpg") center center / cover no-repeat;        
  color: white;
  height: 200px;
  font-family: 'Poppins', sans-serif;
}

.header-content3 {
  text-align: center; 
}

.header-content3 h1 {
  font-size: 50px;
  margin-bottom: 10px;
  font-weight: 600;
}

