@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.LogIn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  z-index: 2;
  background: transparent;
  margin-bottom: 150px;
}

.LogIn-form {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  width: 350px;
  text-align: center;

}

.LogIn-title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
  color: black;
}

.LogIn-input {
  display: block;
  width: 80%;
  padding: 12px 15px;
  margin: 20px 0;
  border-radius: 30px;
  border: 2px solid #ccc;
  font-size: 16px;
  color: #555;
  margin-left: 20px;

}

.LogIn-input::placeholder {
  color: #aaa;
}

.LogIn-button {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 50%;
}

.LogIn-button:hover {
  background-color: #555;
}

.LogIn-footer {
  margin-top: 20px;
  font-size: 14px;
  color: black;
  margin-bottom: 0;

}

.LogIn-footer a {
  color: black;
  text-decoration: none;
  font-weight: 550;
  font-size: 14px;
}

.LogIn-footer a:hover {
  color: #357ABD;
  text-decoration: underline;
}

@media (max-width: 480px) {
  .LogIn {
    padding: 20px;
  }
}