@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Use Poppins all the time */
.personal-books,
.personal-books *,
.books-row,
.books-row * {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

/* Category Buttons Row */
.category-buttons-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.category-buttons-row button {
  margin: 20px 10px;
  padding: 15px 30px;
  background-color: black;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 30px;
  min-width: 120px;
}

.category-buttons-row button:hover {
  background-color: #c7c7c7;
  color: black;
}

.category-buttons-row button.active {
  background-color: grey;
  color: white;
}

/* Books */
.books-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  justify-items: center;
  height: auto;
}

/* Individual Book Card*/
.book-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  height: 100%;
}

.book-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Book Cover */
.book-cover {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.book-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.book-title {
  font-weight: bold;
  font-size: 1rem;
}

.book-author {
  font-size: 0.9rem;
  color: #666;
}

.remove-button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 5px;
}

.remove-button svg {
  color: black;
  transition: color 0.2s;
}

.loading-text {
  margin-top: 50px;
  text-align: center;
  font-size: 1.5rem;
}

/* Responsive design */
@media (max-width: 768px) {
  .books-row {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .books-row {
    grid-template-columns: repeat(1, 1fr);
  }

  .category-buttons-row {
    margin-top: 20px;
  }

  .category-buttons-row button {
    margin: 10px 5px;
    padding: 10px 20px;
    font-size: 0.9rem;
    min-width: auto;
  }
}