@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.personal-books,
.personal-books *,
.books-row,
.books-row * {
  font-family: 'Poppins', sans-serif;
}

/* Category Buttons */
.category-buttons-row {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 40px;
}

.category-buttons-row button {
  margin: 10px;
  padding: 20px 40px;
  border: solid 2px black;
  background-color: #e0e0e0;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.category-buttons-row button:hover {
  background-color: #c7c7c7;
}

.category-buttons-row button.active {
  background-color: #282626;
  color: white;
}

/* Books Row */
.books-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 20px;
  height: auto;
}

.book-card {
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.book-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.book-cover {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.book-info {
  margin-top: 0.5rem;
}

.book-title {
  font-weight: bold;
  margin-bottom: 0.25rem;
  font-size: 1rem;

}

.book-author {
  font-size: 0.9rem;
  color: #666;
}

.remove-button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 5px;

}

.remove-button svg {
  color: black;
  transition: color 0.2s;
}

@media (max-width: 768px) {
  .books-row {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .books-row {
    grid-template-columns: repeat(1, 1fr);
  }
}