.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px auto 50px auto;
}

.search-container {
  display: flex;
  align-items: center;
  border: 3px solid black;
  border-radius: 25px;
  padding: 7px 25px;
  box-sizing: border-box;
  width: 30%;
  min-width: 300px;
}

.search-container input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 14px;
  background-color: transparent;
  margin-left: 10px;
}

.search-container .search-icon {
  font-size: 20px;
  color: black;
}

/* Responsive design */
@media (max-width: 480px) {
  .search-container {
    width: 80%;
    margin-top: 25px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .search-container {
    width: 50%;
  }

  .search-container input {
    font-size: 12px;
  }
}