@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.SignUp {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../assets/images/bookshelf.jpg") center center / cover no-repeat;
}

.SignUp-form {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 400px;
  display: flex;
  border: solid 3px;
  border-color: black;
  flex-direction: column;
  align-items: center;
}

.SignUp-title {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: black;
  margin-bottom: 20px;
}

.SignUp-input {
  width: 100%;
  padding: 12px 16px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 30px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  outline: none;
}

.SignUp-input:focus {
  border: solid 3px;
  border-color: black;
}

.SignUp-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

.SignUp-checkbox input {
  margin-right: 8px;
}

.SignUp-button {
  width: 50%;
  padding: 12px;
  background-color: black;
  color: white;
  border: solid 3px;
  border-radius: 30px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.SignUp-button:hover {
  background-color: #94999db0;
}

.SignUp-footer {
  margin-top: 16px;
  font-family: 'Poppins', sans-serif;
  font-size: 19px;
}

.SignUp-footer a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

.SignUp-footer a:hover {
  text-decoration: underline;
}


@media (max-width: 768px) {}

@media (max-width: 480px) {
  .SignUp {
    padding: 20px;
  }

  .SignUp-footer {
    padding: 30px
  }


}